.container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 120px 200px;
    &.animation{
        transform: translate3d(0, 100px, 0);
        opacity: 0;
        transition: opacity 1.4s, transform 0.8s;
        &.active{
            transform: translate3d(0, -100px, 0);
            opacity: 1;
        }
    }
}