@import "../../../../style/variables";

.element{
    display: flex;
    transition: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
}

.element:hover{
    background-color: $color-neutral80;
}
.card{
    display: flex;
    transition: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
}

.card:hover{
    background-color: $color-neutral80;
}

.image{
    height: 72px;
    width: 48px;
    border-radius: 6px;
}

.description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 4px;
}

.row{
    display: flex;
    gap: 8px;
}

.head{
    width: 160px;
    height: 18px;
    border-radius: 6px;
}

.body{
    width: 180px;
    height: 20px;
    border-radius: 6px;
}