@import "../../../../../style/variables";

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
    cursor: pointer;
    background-color: #000000;
    position: relative;
    border-radius: 10px;
    transition: 0.4s;
}

.image {
    position: relative;
    transition: 0.4s;
    max-height: 420px;
    max-width: 240px;
    border-radius: 10px;
}

.description {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    opacity: 0;
    padding: 24px;
    transition: 0.4s;
}

.p {
    color: $color-neutral50;
    -webkit-line-clamp: 8; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.card:hover {

    transform: scale(110%);

    .description {
        opacity: 1;
    }

    .image {
        opacity: 0.2;
    }
}