@import "../../../style/variables";

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 200px;
}

.logo{
    font-size: 32px;
    font-family: "bold";
}

nav{
    display: flex;
    gap: 32px;
}

nav a{
    color: $color-neutral60;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    transition: 0.5s;
}

nav a:hover{
    color: #fff;
    background-color: $color-neutral90;
}

.buttons{
    display: flex;
    max-height: 56px;
    gap: 16px;
}

.search__icon{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid $color-neutral80;
    transition: 0.25s;
    cursor: pointer;
}

.icon{
    width: 23px;
    height: 23px;
}

.search__icon:hover{
    background-color: $color-neutral40;
    color: $color-neutral100;
}

.active {
    color: #fff;
    background-color: $color-neutral90;
}

.content{
    padding-bottom: 10px;
}

.element{
    display: flex;
    transition: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
}

.element:hover{
    background-color: $color-neutral80;
}

.image{
    height: 72px;
    width: 48px;
    border-radius: 6px;
}

.description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 4px;
}

.row{
    display: flex;
    gap: 8px;
}
