@import "../../../../styles/variables";

.button{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    background-color: $color-main;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid $color-main;
    &.inverted{
        background-color: unset;
    }
    &.inverted:hover{
        background-color: $color-main;
    }
    &.dark{
        background-color: $color-neutral90;
        border: 1px solid $color-neutral80;
    }
    &.dark:hover{
        background-color: $color-neutral80;
    }
}

.button:hover{
    background-color: $color-hover;
    border-color: $color-hover;
}