@import "./variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    background-color: $color-neutral100;
    font-family: "medium";
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}