@import "../../../style/variables";

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rec{
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 32px;
}

.element{
    background-color: $color-neutral90;
    padding: 6px 12px;
    border-radius: 6px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.sort__button{
    padding: 16px 24px;
    background-color: $color-neutral90;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 18px;
}

.sort__button:hover{
    background-color: $color-neutral80;
}

.icon{
    width: 20px;
    height: 20px;
}

.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    overflow: hidden;
}

.entitie{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 32px;
    cursor: pointer;
    background-color: #000000;
    position: relative;
    border-radius: 12px;
    z-index: 0;
    transition: 0.4s;
}

.image{
    position: relative;
    transition: 0.4s;
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

.description{
    background-color: $color-neutral90;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 24px;
    transition: 0.4s;
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    min-height: 180px;
    width: 100%;
}

.h2 {
    font-size: 24px;
}

.p {
    color: $color-neutral60;
    font-size: 18px;
}

.entitie:hover{
    transform: scale(98%);
}

.more{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    font-size: 24px;
    color: $color-neutral60;
    transition: 0.4s;
    cursor: pointer;
    padding-bottom: 10px;
}

.arrow{
    width: 40px;
    height: 40px;
}

.more:hover{
    color: #fff;
    gap: 10px;
    padding-bottom: 0px;
}
