@import "../../../style/variables";

footer{
    padding: 80px 200px 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content{
    display: flex;
    gap: 24px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 468px;
}

.logo{
    font-size: 32px;
    font-family: "bold";
}

.p{
    color: $color-neutral60;
    font-size: 18px;
}

.list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px;
}

li a{
    transition: 0.4s;
}

li a:hover{
    color: $color-neutral60;
}

.bottom_content{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid $color-neutral80;
    font-size: 18px;
    color: $color-neutral60;
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a{
    color: $color-neutral60;
    transition: 0.4s;
}

.links a:hover{
    color: #fff;
}

.elipse{
    width: 5px;
    height: 5px;
    background-color: $color-neutral60;
    border-radius: 5px;
}